# Mac stuff
.DS_Store

# Windows stufff
Thumbs.db

# Rust compiler output
/target

# Visual Studio Code editor files
#/.vscode
/.vscode/settings.json

# Emulator files
/rom
/roms
/floppy
/hdd
/dumps
/builds
/screenshots
/traces
/program
/releases
/keyboard
/cfg
/tests/v*
/tests/tools/gen_list.py
marty*.toml
*.pcm
*.cfg
*.log
*.exe
/frontends/martypc_pixels_wasm32/wasm/
icon.png

# Allow tests/tools directory
!/tests/tools

# Example install dir
!/install/martypc.toml
!/install/icon.png

# Frontend files
/frontends/martypc_pixels_wasm32/web/bin

# Assembly stuff
/asm
/.idea/shelf/
/.idea/dictionaries/Daniel.xml
/.idea/workspace.xml
