# Mac stuff
.DS_Store

# Windows stufff
Thumbs.db

# Rust compiler output
/target

# Visual Studio Code editor files
#/.vscode
/.vscode/settings.json

# Jetbrains stuff
/.idea/shelf/
/.idea/dictionaries/Daniel.xml
/.idea/workspace.xml

# Emulator files
/archive
/program
/releases
/cfg
/tests/v*
/tests/tools/gen_list.py
marty*.toml
*.pcm
*.cfg
*.log
*.exe
/frontends/martypc_web_player_wgpu/wasm/
icon.png
*.crt

# Allow tests/tools directory
!/tests/tools

# Ignore most files in /install directory unless specified
/install/*.zip
/install/roms/*
/install/rom/parking/*
/install/hdd/*
/install/floppy/*
/install/dumps/*
/install/screenshots/*
/install/traces/*
# New media paths for 0.2.0
/install/media/roms/*
/install/media/floppies/*
/install/media/hdds/*
/install/media/cartridges/*

/install/output/screenshots/*
/install/output/traces/*
/install/output/dumps/*
/install/output/tests/test_summary.csv

# Dev machines not completed or functional
/install/configs/machines/acid88.toml
/install/configs/machines/s100.toml


# Files to include for distribution
!/install/media/roms/readme.md
!/install/media/roms/GLaBIOS
!/install/media/roms/*.toml
!/install/martypc.toml

/install/media/roms/romdef_s100.toml
/install/media/roms/romdef_ast.toml
/install/media/roms/GLaBIOS/parking

# Frontend files
/frontends/martypc_web_player_wgpu/web/bin

# Assembly stuff
/asm
/install/program/*

#misc
/flopgen/flopgen_LICENSE.txt
/tree.txt

/test-gen/

