# Mac stuff
.DS_Store

# Windows stufff
Thumbs.db

# Rust compiler output
/target

# Visual Studio Code editor files
/.vscode

# Emulator files
/rom
/floppy
/hdd
/dumps
/builds
/traces
marty.toml
*.pcm
*.cfg
*.log


# Assembly stuff
/asm
